<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059422271911-kj9sfi11qsdgdns3qlmae8me286286h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059422271911-kj9sfi11qsdgdns3qlmae8me286286h8</string>
	<key>API_KEY</key>
	<string>AIzaSyCI0efUEggBGGf4W4uBsekxuNZB9yxuzio</string>
	<key>GCM_SENDER_ID</key>
	<string>1059422271911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointment</string>
	<key>PROJECT_ID</key>
	<string>appointment-81f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>appointment-81f1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059422271911:ios:653a67d589ac70f4b19e82</string>
</dict>
</plist>